// SIDEBAR PROPERTIES
$sidebar_w : 150px

//LAYOUT BREAKPOINTS
$breakpoint_mobile: 320px
$breakpoint_tablet: 481px
$breakpoint_laptop: 769px
$breakpoint_desktop: 1025px
$breakpoint_tv: 1201px

//COLORS
$main-color: #3DB13D
$unactive-textcolor: #848484
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

body, html
    width: 100%
    height: 100%
    font-family: 'Poppins'
    font-size: 15px
a
    text-decoration: none
    &:hover
        color: $main-color
    &:active
        color: $main-color
input, textarea, select
    line-height: 1.8
    font-size: 15px
    &::selection
        color: white
        background-color: $main-color
ul
    list-style: none
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

header
    width: 100%
    height: 90px
    z-index: 1000
    position: fixed
    top: 0
    left: 0
    background-color: white
    border-bottom: 1px solid #e8e8e8
    @media screen and ( min-width: $breakpoint_laptop)
        width: calc( 100% - 150px )
        left: 150px
.row
    --bs-gutter-x: 0
#sidebar
    width: $sidebar_w
    height: 100%
    box-shadow: 0 0 12px RGB(0 0 0 / 8%)
    display: none
    transition: 0.3s
    @media screen and ( min-width: $breakpoint_laptop)
        display: block
    nav
        a 
            width: 100%
            height: 90px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            border-bottom: 1px solid #e8e8e8
        ul
            width: 100%
            li
                width: 100%
                height: 90px
                &.current
                    a
                        color: $main-color
                        background-color: #f9f9f9
                        font-weight: 500
                a 
                    width: 100%
                    color: $unactive-textcolor
                    span
                        display: block
                        margin: 0.5em

.mobileLogo
    display: flex
    align-items: center
    color: $unactive-textcolor
    @media screen and ( min-width: $breakpoint_laptop)
        display: none
.searchbarWrapper
    color: $unactive-textcolor
    display: none
    @media screen and ( min-width: $breakpoint_laptop)
        display: flex
    input
        width: 250px
        border: transparent
        outline: none
        color: $unactive-textcolor
.actionWrapper
    color: $unactive-textcolor
    display: none
    @media screen and ( min-width: $breakpoint_laptop)
        display: flex
    a
        color: $unactive-textcolor
.userWrapper
    img
        max-height: 32px

.menuBtn
    display: flex
    align-items: center
    color: $unactive-textcolor
    @media screen and ( min-width: $breakpoint_laptop)
        display: none

main
    position: absolute
    top: 90px
    left: 0
    width: 100%
    @media screen and ( min-width: $breakpoint_mobile)
        overflow-y: scroll
    @media screen and ( min-width: $breakpoint_laptop)
        top: 90px
        left: 150px
        width: calc( 100% - 150px )
        height: calc( 100% - 90px )
        

.categoryWrapper, .actWrapper
    // position: fixed
    width: 100%
    
    border-bottom: 1px solid #e8e8e8
    margin: 0

.tamerBtn
    background-color: $main-color
    color: white
    font-size: 12px
    font-weight: 500
    width: fit-content
    padding: 10px
    height: 45px
    border: none
    border-radius: 0.25rem

.catalogWrapper
    padding: 10px 50px
    --bs-gutter-x: 0

.category
    display: flex
    flex-direction: column
    align-items: center
    div
        display: flex
        flex-direction: column
        align-items: center
        padding: 0.5em
        margin: 1em
        border-radius: 5px
    &.current
        div
            border: 2px solid $main-color
            background-color: #f9f9f9
        
    img
        display: block
        max-height: 48px
        margin: 0.25em   
    span
        font-size: 13px
        color: $unactive-textcolor
.streamable-card
    border-radius: 5px
    border: 1px solid rgba(0,0,0,0.08)
    box-shadow: 0px 3px 8px RGB(0 0 0 / 6%)
    margin-bottom: 30px
    img
        width: 100%
        border-top-left-radius: 5px
        border-top-right-radius: 5px
    .streamable-desc
        height: 80px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0px 20px
        h6
            font-size: 14px
            font-weight: 400
            line-height: 1.2rem
            float: left
            width: calc(100% - 50px)
            color: #333333
            font-family: 'Montserrat', sans-serif 

.detailWrapper
    --bs-gutter-x: 0
    height: 100%
    .leftPart
        background-color: #fafafa
        box-shadow: 0 0 12px RGB(0 0 0 / 8%)
        .movDisp
            position: relative
            .moreWrapper
                position: absolute
                width: 100%
                top: 0
                right: 0
            .moreBtn
                position: absolute
                margin: 1em
                right: 0
                width: 30px
                height: 30px
                border: 2px solid white
                border-radius: 50%
                text-align: center
                vertical-align: middle
            .moreMenu
                margin: 0.5em
                padding: 10px
                background-color: #f2f2f2
                border-radius: 5px
                font-size: 12px
                width: 50%
                // top: 5%
                // left: 30%
                li
                    margin: 0.25em
        .generalInfos
            padding: 35px
            .title
                margin-bottom: 42px
                h5
                    margin-bottom: 20px
            .date, .creator
                margin-bottom: 42px
                font-size: 14px;
                color: #333333;
                .title
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 0.03em;
                    margin-bottom: 10px;
                span

.banner
    position: relative
    width: 100%
    .mask
        width: 100%
        // height: 500px
        z-index: 500
        position: absolute
        background-color: rgba(0, 0, 0, 0.5)
    img
        width: 100%
        // height: 500px
    .playBtn
        position: absolute
        top: calc( 50% - 50px )
        left: calc( 50% - 50px )
        width: 100px
        height: 100px
        border-radius: 50%
        z-index: 510
        border: 2px solid white
        .material-icons
            font-size: 96px

.rightPart
    
    .rating
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 45px;
        padding: 35px 0px 25px 0px;
        height: 90px
        display: flex
        flex-direction: row
        justify-content: space-between
        .global
            display: flex
            flex-direction: column
            justify-content: center
        .user
            display: flex
            flex-direction: row
            align-items: center
    .desc
        padding: 20px 25px
        span
            margin: 10px
    .similar
        padding: 20px 25px

.myPlsWrapper, .PlWrapper
    padding: 10px
    background-color: #F9F9F9
    height: 100%

.myPlsWrapper
    .card
        background-color: white
        border-color: transparent
        height: 300px
        .card-header
            background-color: white
            border: none
        .card-body
            overflow-y: scroll
        .creator
            font-size: 12px

.PlWrapper
    border-radius: 0.25rem
    .card.main
        background-color: white
        border-color: transparent
        .card-body
            overflow-y: scroll
        .card-header
            background-color: white
            border: none
            display: flex
            justify-content: space-between
            align-items: center
        h6
            font-weight: 600
        .fake-taxi
            width: 100%
            height: 300px
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .plViewer
        .PlList
            background-color: #f9f9f9
            border-color: transparent
            height: 300px
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            .card-header
                font-size: 13px
            .card-body
                overflow-y: scroll

        
    .generalInfos
        display: flex
        justify-content: start
        div
            margin: 2em
    .rating
        display: flex
    .PlTitle
        font-weight: 600
    
.screen
    border-color: transparent
    background-color: #f8f8f8
    margin: 0.25rem
    .card-body
        text-align: center
        font-size: 48px
        img
            height: 48px
    .card-footer
        border: none
        text-align: center
        font-weight: 500
        font-size: 13px
.vod
    position: relative
    display: flex
    justify-content: start
    align-items: center
    padding: 0.5em
    border-radius: 5px
    .title
        font-weight: 500
        margin-left: 2em
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    .menu
        position: absolute
        margin: 0.5em
        padding: 10px
        background-color: white
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 5px
        font-size: 12px
        top: 70%
        right: 0
        width: 50%
        z-index: 10
    a
        color: #555555
    &.current
        background-color: #f7f7f7
        a, .title
            color: $main-color
.current-plan-account
    ul
        list-style: square;
        margin: 0px 0px 30px 0px;
        padding: 0px;
        font-size: 13px;
        color: #848484
.current-plan-billing 
    color: #999999;
    font-weight: 400;
    font-size: 13px;
    font-style: italic;
    margin-bottom: 10px;
.btn
    font-weight: 400;
    padding: 12px 20px;
    font-size: 13px;
    border: 1px solid #e7e7e7;
    background: #f9f9f9;
    color: #666666;
    display: flex
    justify-content: center
    align-items: center
sup
    top: -30px
    font-size: 17px
    font-weight: 400
.forfait
    color: $main-color
    font-weight: 700
    font-size: 50px

.forfait-
.settings
    padding: 25px
.guineguine-text
    font-size: 13px
.gringalet-text
    font-weight: 400
::placeholder
    color: gray
.categoryPill
    line-height: 1;
    margin: 0px 7px 5px 0px;
    padding: 7px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid #9d9d9d;
    color: #9d9d9d;
.text-main
    color: $main-color
.text-unactive
    color: $unactive-textcolor
.text-black
    color: #00000080
.disabled
    background-color: #d5d5d5

::-webkit-scrollbar
    width: 5px;
    border-radius: 5px;

/* Handle */
::-webkit-scrollbar-thumb
    background: $unactive-textcolor;
    border-radius: 5px;


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $unactive-textcolor;

/* Dropdown */

.dropdown 
  display: inline-block
  position: relative
.dd-button 
  display: inline-block
  border-radius: 4px
  padding: 10px 30px 10px 20px
  background-color: #ffffff
  cursor: pointer
  white-space: nowrap
.dd-input 
  display: none
.dd-menu 
  position: absolute
  top: 100%
  border-radius: 4px
  padding: 0
  margin: 30px 0 0 0
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1)
  background-color: #ffffff
  list-style-type: none
.dd-input + .dd-menu 
  display: none
.dd-input:checked + .dd-menu
  display: block
.dd-menu li 
  padding: 10px 20px
  cursor: pointer
  white-space: nowrap
  a
    font-size: 14px
    display: flex
    justify-content: space-between
    align-items: center

.dd-menu li:hover 
  background-color: #f6f6f6
    
.dd-menu li.divider
  padding: 0
  border-bottom: 1px solid #cccccc


.nav-tabs 
    border-bottom: none

.nav-tabs .nav-link
    color: #c5c5c5
    outline: none
    border-bottom: 3px solid
    border-bottom-color: white
    transition: none
    border-top: none
    border-left: none
    border-right: none

.tab-content
    padding: 25px

.nav-tabs .nav-link.active
    color: #555555
    border-bottom-color: $main-color
.nav-tabs .nav-link:hover
    color: #555555

hr 
    border-color: rgba(0,0,0, 0.09);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;




    
        

      
    
  
