// SIDEBAR PROPERTIES
$sidebar_w : 150px

//LAYOUT BREAKPOINTS
$breakpoint_mobile: 320px
$breakpoint_tablet: 481px
$breakpoint_laptop: 769px
$breakpoint_desktop: 1025px
$breakpoint_tv: 1201px

//COLORS
$main-color: #3DB13D
$unactive-textcolor: #848484
    
*
    box-sizing: border-box
    margin: 0
    padding: 0

body, html
    width: 100%
    height: 100%
    font-family: 'Poppins'
    font-size: 15px
    background-color: white
a
    text-decoration: none
    &:hover
        color: $main-color
    &:active
        color: $main-color
input, textarea, select
    line-height: 1.8
    font-size: 15px
    &::selection
        color: white
        background-color: $main-color
ul
    list-style: none
    margin: 0
    padding: 0

h1, h2, h3, h4, h5, h6
    margin: 0
    padding: 0

header
    width: 100%
    height: 90px
    z-index: 2
    position: fixed
    top: 0
    left: 0
    background-color: white
    border-bottom: 1px solid #e8e8e8
    @media screen and ( min-width: $breakpoint_laptop)
        width: calc( 100% - 150px )
        left: 150px
.row
    --bs-gutter-x: 0
#sidebar
    width: $sidebar_w
    height: 100%
    box-shadow: 0 0 12px RGB(0 0 0 / 8%)
    display: none
    transition: 0.3s
    @media screen and ( min-width: $breakpoint_laptop)
        display: block
    nav
        a 
            width: 100%
            height: 90px
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
            border-bottom: 1px solid #e8e8e8
        ul
            width: 100%
            li
                width: 100%
                height: 90px
                &.current
                    a
                        color: $main-color
                        background-color: #f9f9f9
                        font-weight: 500
                a 
                    width: 100%
                    color: $unactive-textcolor
                    span
                        display: block
                        margin: 0.5em

.mobileLogo
    display: flex
    align-items: center
    color: $unactive-textcolor
    @media screen and ( min-width: $breakpoint_laptop)
        display: none
.searchbarWrapper
    color: $unactive-textcolor
    display: none
    @media screen and ( min-width: $breakpoint_laptop)
        display: flex
    input
        width: 250px
        border: transparent
        outline: none
        color: $unactive-textcolor
.actionWrapper
    color: $unactive-textcolor
    display: none
    @media screen and ( min-width: $breakpoint_laptop)
        display: flex
    a
        color: $unactive-textcolor
.userWrapper
    img
        max-height: 32px

.menuBtn
    display: flex
    align-items: center
    color: $unactive-textcolor
    @media screen and ( min-width: $breakpoint_laptop)
        display: none
.settingsWrapper
    padding: 10px 
main
    position: absolute
    top: 90px
    left: 0
    width: 100%
    @media screen and ( min-width: $breakpoint_mobile)
        overflow-y: scroll
    @media screen and ( min-width: $breakpoint_laptop)
        top: 90px
        left: 150px
        width: calc( 100% - 150px )
        height: calc( 100% - 90px )
        

.categoryWrapper, .actWrapper
    // position: fixed
    width: 100%
    
    border-bottom: 1px solid #e8e8e8
    margin: 0

.tamerBtn
    background-color: $main-color
    color: white
    font-size: 12px
    font-weight: 500
    width: fit-content
    padding: 10px
    height: 45px
    border: none
    border-radius: 0.25rem

.catalogWrapper
    padding: 10px 50px
    --bs-gutter-x: 0

.category
    display: flex
    flex-direction: column
    align-items: center
    div
        display: flex
        flex-direction: column
        align-items: center
        padding: 0.5em
        margin: 1em
        border-radius: 5px
    &.current
        div
            border: 2px solid $main-color
            background-color: #f9f9f9
        
    img
        display: block
        max-height: 48px
        margin: 0.25em   
    span
        font-size: 13px
        color: $unactive-textcolor
.streamable-card
    border-radius: 5px
    border: 1px solid rgba(0,0,0,0.08)
    box-shadow: 0px 3px 8px RGB(0 0 0 / 6%)
    margin-bottom: 30px
    img
        width: 100%
        border-top-left-radius: 5px
        border-top-right-radius: 5px
    .streamable-desc
        height: 80px
        display: flex
        flex-direction: row
        justify-content: space-between
        align-items: center
        width: 100%
        padding: 0px 20px
        h6
            font-size: 14px
            font-weight: 400
            line-height: 1.2rem
            float: left
            width: calc(100% - 50px)
            color: #333333
            font-family: 'Montserrat', sans-serif 

.detailWrapper
    --bs-gutter-x: 0
    height: 100%
    .leftPart
        background-color: #fafafa
        box-shadow: 0 0 12px RGB(0 0 0 / 8%)
        .movDisp
            position: relative
            .moreWrapper
                position: absolute
                width: 100%
                top: 0
                right: 0
            .moreBtn
                position: absolute
                margin: 1em
                right: 0
                width: 30px
                height: 30px
                border: 2px solid white
                border-radius: 50%
                text-align: center
                vertical-align: middle
            .moreMenu
                margin: 0.5em
                padding: 10px
                background-color: #f2f2f2
                border-radius: 5px
                font-size: 12px
                width: 50%
                // top: 5%
                // left: 30%
                li
                    margin: 0.25em
        .generalInfos
            padding: 35px
            .title
                margin-bottom: 42px
                h5
                    margin-bottom: 20px
            .date, .creator
                margin-bottom: 42px
                font-size: 14px;
                color: #333333;
                .title
                    text-transform: uppercase;
                    font-weight: 400;
                    letter-spacing: 0.03em;
                    margin-bottom: 10px;
                span

.banner
    position: relative
    width: 100%
    .mask
        width: 100%
        // height: 500px
        z-index: 500
        position: absolute
        background-color: rgba(0, 0, 0, 0.5)
    img
        width: 100%
        // height: 500px
    .playBtn
        position: absolute
        top: calc( 50% - 50px )
        left: calc( 50% - 50px )
        width: 100px
        height: 100px
        border-radius: 50%
        z-index: 510
        border: 2px solid white
        .material-icons
            font-size: 96px

.rightPart
    
    .rating
        border-bottom: 1px solid #e4e4e4;
        margin-bottom: 45px;
        padding: 35px 0px 25px 0px;
        height: 90px
        display: flex
        flex-direction: row
        justify-content: space-between
        .global
            display: flex
            flex-direction: column
            justify-content: center
        .user
            display: flex
            flex-direction: row
            align-items: center
    .desc
        padding: 20px 25px
        span
            margin: 10px
    .similar
        padding: 20px 25px

.myPlsWrapper, .PlWrapper, .progWrapper
    padding: 10px
    background-color: #F9F9F9
    height: 100%

.myPlsWrapper,.progWrapper
    .card
        background-color: white
        border-color: transparent
        height: 100%
        .card-header
            background-color: white
            border: none
        .card-body
            overflow-y: scroll
        .creator
            font-size: 12px

.PlWrapper
    border-radius: 0.25rem
    .card.main
        background-color: white
        border-color: transparent
        height: 100%
        .card-body
            overflow-y: scroll
        .card-header
            background-color: white
            border: none
            display: flex
            justify-content: space-between
            align-items: center
        h6
            font-weight: 600
        .fake-taxi
            width: 100%
            height: 300px
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    .plViewer
        .PlList
            background-color: #f9f9f9
            border-color: transparent
            height: 300px
            box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
            .card-header
                font-size: 13px
            .card-body
                overflow-y: scroll

        
    .generalInfos
        display: flex
        justify-content: start
        div
            margin: 2em
    .rating
        display: flex
    .PlTitle
        font-weight: 600
.addWrapper
    display: flex
    justify-content: center
    .add
        // border: 4px dotted $main-color
        border-color: transparent
        border-radius: 0.5rem
        color: $main-color
        // font-weight: bold
        background-color: transparent
        
        .card-body
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center
            overflow: hidden
            img
                height: 48px
                width: 48px

.card
    &.streamable-desc
        border-color: transparent
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        .card-header
            background-color: #fff
            .title
                font-weight: 600
        
        .author-section
            display: flex
            flex: row
            align-items: center
            padding: 10px
            width: 100%
            height: auto
            border-bottom: 1px solid rgba(0,0,0,.125)
            h5
                font-weight: 600
        .card-body
            padding: 25px
            span
                line-height: 2
                font-size: 14px

// .screen
//     border: 2px dashed #d8d8d8
//     background-color: #f8f8f8
//     margin: 0.25rem
//     .check
//         font-size: 16px
//         position: absolute
//         top: 0
//         right: 8px
//         display: none
//     &.active
//         border: 1px solid $main-color
//         color: $main-color
//         .check
//             display: inline
//         .card-body
//             color: $main-color
//     .card-body
//         text-align: center
//         color: $unactive-textcolor
//         font-weight: 500
//         font-size: 13px
//         overflow: hidden
//         display: flex
//         flex-direction: column
        
//         img
//             height: 48px
//             margin-bottom: 1.5rem
        
.vod
    position: relative
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5em
    border-radius: 5px
    cursor: pointer
    .title
        font-weight: 500
        margin-left: 2em
        overflow: hidden
        white-space: nowrap
        text-overflow: ellipsis
    .menu
        position: absolute
        margin: 0.5em
        padding: 10px
        background-color: white
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
        border-radius: 5px
        font-size: 12px
        top: 70%
        right: 0
        width: 50%
        z-index: 10
    a
        color: #555555
    &.current
        background-color: #f7f7f7
        a, .title
            color: $main-color
.current-plan-account
    ul
        list-style: square
        margin: 0px 0px 30px 0px
        padding: 0px
        font-size: 13px
        color: #848484
.current-plan-billing 
    color: #999999
    font-weight: 400
    font-size: 13px
    font-style: italic
    margin-bottom: 10px
.btn
    font-weight: 400
    padding: 12px 20px
    font-size: 13px
    border: 1px solid #e7e7e7
    background: #f9f9f9
    color: #666666
    display: flex
    justify-content: center
    align-items: center
#modal
    width: 100%
    height: 100%
    display: none;
    position: absolute;
    top: 0
    left: 0
    z-index: 1000
    transition: 0.5s

    &.active
        display: inline
        background-color: #00000075
        transition: 0.5s    
    #modal-container
        width: 100%
        height: 100%
        .card
            .card-header
                border: none
                background-color: white
.badge
    display: inline-block
    padding: 0.35em 0.65em
    font-size: .75em
    font-weight: 700
    line-height: 1
    color: #fff
    text-align: center
    white-space: nowrap
    vertical-align: baseline
    border-radius: 0.25rem
    &.view-more-url
        font-weight: 400
        background-color: #222!important
        border: 1px solid #333
        text-transform: uppercase


.widget-title-wrapper
    border-bottom: 1px solid #e9ecef
    margin-bottom: 1.5rem
    z-index: 2

    a
        margin-bottom: 1rem


    .widget-title 
        letter-spacing: 1px
        font-size: 1.1rem
        font-weight: 600
        line-height: 1.5rem
        margin-bottom: 1rem
        position: relative
        display: inline-block
        text-transform: uppercase
        font-family: poppins,sans-serif
        color: #666
        &::after
            content: ""
            position: absolute
            height: 4px
            width: 50px
            left: 0
            bottom: -1rem
            background: $main-color

.meta
    color: #aaa
    font-weight: 400
    font-size: 12px
    display: flex
    align-content: center
    .material-icons-outlined
        font-size: 16px
.thumbnail-infos
    .name
        color: #555555
        font-weight: 600
    .author, .views, .date
        color: #aaa
        font-weight: 400
        font-size: 12px
        display: flex
        align-content: center
        .material-icons-outlined
            font-size: 16px
    .meta
        .views, .author
            display: flex
            align-items: center
.thumbnail
    width: auto
    max-height: 200px
    position: relative
    cursor: pointer
    transition: 0.3s
    overflow: hidden
    // @media screen and ( min-width: $breakpoint_laptop)
    //     width: auto
    //     height: auto
    &.huge
        max-height: 100%
    &.mini
        border-radius: 0.25rem
        // width: 260px
        max-height: 130px
        box-shadow: 0 1px 3px RGBA(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
        margin: 0.25em
        // @media screen and ( min-width: $breakpoint_laptop)
        //     width: auto
        //     height: auto
        img
            width: 100%
            max-height: 130px
    .video-hover
        width: 100%
        height: 100%
        z-index: 50
        background-color: RGBA(0,0,0,0.75)
        position: absolute
        top: 0
        left: 0
        opacity: 0
        transition: 0.3s
        display: flex
        justify-content: center
        align-items: center
        span
            font-size: 96px
            color: #fff    
    &:hover
        img
            transition: 0.3s
            transform: scale(1.25)
        .video-hover
            transition: 0.3s
            opacity: 1
    img
        width: 100%
        height: 100%
    .video-length
        position: absolute
        right: 10px
        top: 10px
        left: auto
        display: inline-block
        font-size: 13px
        background: rgba(0,0,0,.8)
        color: #fff
        width: auto
        height: auto
        transition: .3s
        z-index: 1
    .bottom
        color: #f9f9f9
        position: absolute
        bottom: 1.5rem
        left: 1.5rem
        max-width: 90%
        z-index: 51
        .category
            background: #111
            border: 1px solid #333
            color: #fff
            padding: 0.2rem 0.5rem
            font-weight: 600
            text-transform: uppercase
            font-size: .75rem
            max-width: 50%
        .meta
            display: flex
            .author, .views, .note
                font-size: .25rem
                color: #fff
                display: flex
                align-items: center
                span
                    font-size: 12px
                    font-weight: 300

.login-page-footer
    position: absolute
    bottom: 0
    height: 45px
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    background-color: white

sup
    top: -30px
    font-size: 17px
    font-weight: 400
.forfait
    color: $main-color
    font-weight: 700
    font-size: 50px

.forfait-
.settings
    padding: 25px
.guineguine-text
    font-size: 13px
.gringalet-text
    font-weight: 400
::placeholder
    color: gray
.categoryPill
    line-height: 1;
    margin: 0px 7px 5px 0px;
    padding: 7px;
    border-radius: 5px;
    font-size: 11px;
    font-weight: 700;
    border: 2px solid #9d9d9d;
    color: #9d9d9d;

.login-card
    border-color: transparent
    z-index: 300
    background-color: transparent
    // display: flex
    // justify-content: center
    // align-items: center
    text-align: center
.loginInput
    border: 2px solid #e8e8e8
    border-radius: 0.5rem
    background-color: transparent
    color: white
    outline: none
    height: 50px
    width: 100%
    transition: 0.5s
    @media screen and ( min-width: $breakpoint_laptop)
        width: 500px
        transition: 0.5s
    &::placeholder
        color: #d8fdfd
.bg-unpeusombre
    background-color: #f5f5f5
.bg-main
    background-color: $main-color
    color: white
    // border-radius: 0.5rem
.text-main
    color: $main-color
.text-unactive
    color: $unactive-textcolor
.text-black
    color: #00000080
.disabled
    background-color: #d5d5d5

::-webkit-scrollbar
    width: 5px;
    border-radius: 5px;

/* Handle */
::-webkit-scrollbar-thumb
    background: $unactive-textcolor;
    border-radius: 5px;


/* Handle on hover */
::-webkit-scrollbar-thumb:hover
    background: $unactive-textcolor;

/* Dropdown */

.dropdown 
  display: inline-block
  position: relative
.dd-button 
  display: inline-block
  border-radius: 4px
  padding: 10px
  background-color: #ffffff
  cursor: pointer
  white-space: nowrap
.dd-input 
  display: none
.dd-menu 
  position: absolute
  top: 100%
  left: -150px
  border-radius: 4px
  padding: 0
  margin: 30px 0 0 0
  box-shadow: 0 0 6px 0 rgba(0,0,0,0.1)
  background-color: #ffffff
  list-style-type: none
.dd-input + .dd-menu 
  display: none
.dd-input:checked + .dd-menu
  display: block
.dd-menu li 
  padding: 10px 20px
  cursor: pointer
  white-space: nowrap
  a
    font-size: 14px
    display: flex
    justify-content: space-between
    align-items: center

.dd-menu li:hover 
  background-color: #f6f6f6
    
.dd-menu li.divider
  padding: 0
  border-bottom: 1px solid #cccccc


.nav-tabs 
    border-bottom: none

.nav-tabs .nav-link
    color: #c5c5c5
    outline: none
    border-bottom: 3px solid
    border-bottom-color: white
    transition: none
    border-top: none
    border-left: none
    border-right: none

.tab-content
    padding: 25px

.nav-tabs .nav-link.active
    color: #555555
    border-bottom-color: $main-color
.nav-tabs .nav-link:hover
    color: #555555

hr 
    border-color: rgba(0,0,0, 0.09);
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;

// .animate__animated
//   --animate-duration: 0.3s

.pl-el
    width: 200px
    height: 200px
    display: inline-block
    img
        width: 100%
        height: 100%
.monFuturPlace
    border: 2px dashed #e5e5e5
    border-radius: 0.5rem
.dropdown
    position: relative
    display: inline-block
    font-size: 13px
    .dropbtn
        background-color: transparent
        color: black
        padding: 13px
        font-size: 16px
        width: auto
        height: 45px
        border: none
        cursor: pointer
        display: flex
        align-items: center
        justify-content: start
        font-size: 14px
    .dropdown-content
        display: none
        position: absolute
        background-color: #f9f9f9
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        border-radius: 0.25rem
        z-index: 1
        a
            color: black
            padding: 12px 16px
            text-decoration: none
            display: block
            &:hover
                background-color: #f1f1f1
    &:hover
        .dropdown-content
            display: block
        // .dropbtn
        //     background-color: #3e8e41
.daccord
    padding: 0.5em
    .card
        border: 2px dashed #d5d5d5
        height: 100%
        .card-body
            overflow: scroll
.card
    &.license
        width: fit-content
        padding: 30px
        border: 2px dashed #d5d5d5
    &.device
        border: 2px solid #e8e8e8
        .card-body
            display: flex
            justify-content: center
            align-content: center
            
            span
                font-size: 96px
                color: #d9d9d9
        .card-footer
            border: none
            background-color: white
            text-align: center
            padding: 20px
            display: flex
            flex-direction: column
            .name
                text-align: center
                font-weight: 600
            .infos
                color: #d0d0d0
                font-weight: light

.tgcard
    height: fit-content
.modal-backdrop
    z-index: 5

.streamable, .screen
    padding: 0.5rem
    border: 2px solid white
    border-radius: 0.5rem
    &.selected
        border-color: $main-color
    .device
        border: 2px solid #e8e8e8
        .card-body
            display: flex
            justify-content: center
            align-content: center
            
            span
                font-size: 96px
                color: #d9d9d9
        .card-footer
            border: none
            background-color: white
            text-align: center
            padding: 20px
            display: flex
            flex-direction: column
            .name
                text-align: center
                font-weight: 600
                color: #555
            .infos
                color: #d0d0d0
                font-weight: light
    
#myVideo 
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;

.logo
    
    color: #f1f1f1
    width: 300px
    height: 125px
    padding: 20px
    z-index: 300
    // @media screen and ( min-width: $breakpoint_tablet)
    //     width: 450px
    //     height: 250px
    // @media screen and ( min-width: $breakpoint_laptop)
    //     width: 1000px
    //     height: 500px

.mask
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    z-index: 200
    background: rgba(0, 0, 0, 0.5)

/* The switch - the box around the slider */
.switch
    position: relative
    display: inline-block
    width: 40px
    height: 20px
    input
        opacity: 0
        width: 0
        height: 0  

    .slider
        position: absolute
        cursor: pointer
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #ccc
        -webkit-transition: .4s
        transition: .4s
        &::before
            position: absolute
            content: ""
            height: 16px
            width: 16px
            left: 2px
            bottom: 2px
            background-color: white
            -webkit-transition: .4s
            transition: .4s
        &.round
            border-radius: 17px
            &::before
                border-radius: 50%


input:checked + .slider 
    background-color: $main-color

input:focus + .slider 
    box-shadow: 0 0 1px #ccc

input:checked + .slider:before 
    -webkit-transform: translateX(20px)
    -ms-transform: translateX(20px)
    transform: translateX(20px)

.input-label
    font-weight: 600
    &-slurp
        font-weight: light
        font-style: italic
        // color: #a5a5a5

input[type="time"]
    background: #f5f5f5
    border: transparent
    border-radius: 0.25rem
    padding: 5px
    color: #555
    outline: none

.prog-indicator
    color: #c9c9c9
    font-style: italic
    font-size: 13px

.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple
    background: #F5F5F5 !important
    border: none !important
    border-radius: 0.25rem
    font-size: 0.8333em

.select2-container--default .select2-selection--single[aria-expanded="true"]
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)


.select2-container--default .select2-results__option--selected 
    background-color: transparent 


.select2-container--default .select2-search--dropdown .select2-search__field 
    border: none

.select2-search--dropdown .select2-search__field 
    padding: 6px 

.select2-container--default .select2-search--dropdown .select2-search__field:focus-visible 
    border: 1px solid #ddd 
    font-size: 0.8333em

.select2-container--open .select2-dropdown--below,
.select2-container--open .select2-dropdown--above 
    border: none
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    background: #F5F8FA 
    border-radius: 0px 
    font-size: 0.8333em

.select2-results
    margin-top: 1em
    font-size: 0.8333em
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable 
    background-color: #ddd 
    color: black 

.select2-container--default .select2-selection--multiple .select2-selection__choice
    background-color: #3DB13D75 !important
    border-color: $main-color !important
    color: #555
    font-weight: bold


.select2-container--default .select2-selection--multiple .select2-selection__choice__remove
    color: #555 !important
    border-color: $main-color !important

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover
    background-color: $main-color !important





