* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  font-size: 15px;
  background-color: white;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3DB13D;
}

a:active {
  color: #3DB13D;
}

input, textarea, select {
  line-height: 1.8;
  font-size: 15px;
}

input::-moz-selection, textarea::-moz-selection, select::-moz-selection {
  color: white;
  background-color: #3DB13D;
}

input::selection, textarea::selection, select::selection {
  color: white;
  background-color: #3DB13D;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 90px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (min-width: 769px) {
  header {
    width: calc( 100% - 150px);
    left: 150px;
  }
}

.row {
  --bs-gutter-x: 0;
}

#sidebar {
  width: 150px;
  height: 100%;
  -webkit-box-shadow: 0 0 12px RGB(0 0 0/8%);
          box-shadow: 0 0 12px RGB(0 0 0/8%);
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 769px) {
  #sidebar {
    display: block;
  }
}

#sidebar nav a {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e8e8e8;
}

#sidebar nav ul {
  width: 100%;
}

#sidebar nav ul li {
  width: 100%;
  height: 90px;
}

#sidebar nav ul li.current a {
  color: #3DB13D;
  background-color: #f9f9f9;
  font-weight: 500;
}

#sidebar nav ul li a {
  width: 100%;
  color: #848484;
}

#sidebar nav ul li a span {
  display: block;
  margin: 0.5em;
}

.mobileLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #848484;
}

@media screen and (min-width: 769px) {
  .mobileLogo {
    display: none;
  }
}

.searchbarWrapper {
  color: #848484;
  display: none;
}

@media screen and (min-width: 769px) {
  .searchbarWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.searchbarWrapper input {
  width: 250px;
  border: transparent;
  outline: none;
  color: #848484;
}

.actionWrapper {
  color: #848484;
  display: none;
}

@media screen and (min-width: 769px) {
  .actionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.actionWrapper a {
  color: #848484;
}

.userWrapper img {
  max-height: 32px;
}

.menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #848484;
}

@media screen and (min-width: 769px) {
  .menuBtn {
    display: none;
  }
}

.settingsWrapper {
  padding: 10px;
}

main {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 320px) {
  main {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 769px) {
  main {
    top: 90px;
    left: 150px;
    width: calc( 100% - 150px);
    height: calc( 100% - 90px);
  }
}

.categoryWrapper, .actWrapper {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
}

.tamerBtn {
  background-color: #3DB13D;
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 45px;
  border: none;
  border-radius: 0.25rem;
}

.catalogWrapper {
  padding: 10px 50px;
  --bs-gutter-x: 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}

.category.current div {
  border: 2px solid #3DB13D;
  background-color: #f9f9f9;
}

.category img {
  display: block;
  max-height: 48px;
  margin: 0.25em;
}

.category span {
  font-size: 13px;
  color: #848484;
}

.streamable-card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 8px RGB(0 0 0/6%);
          box-shadow: 0px 3px 8px RGB(0 0 0/6%);
  margin-bottom: 30px;
}

.streamable-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.streamable-card .streamable-desc {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.streamable-card .streamable-desc h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
  float: left;
  width: calc(100% - 50px);
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.detailWrapper {
  --bs-gutter-x: 0;
  height: 100%;
}

.detailWrapper .leftPart {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 12px RGB(0 0 0/8%);
          box-shadow: 0 0 12px RGB(0 0 0/8%);
}

.detailWrapper .leftPart .movDisp {
  position: relative;
}

.detailWrapper .leftPart .movDisp .moreWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.detailWrapper .leftPart .movDisp .moreBtn {
  position: absolute;
  margin: 1em;
  right: 0;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.detailWrapper .leftPart .movDisp .moreMenu {
  margin: 0.5em;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  width: 50%;
}

.detailWrapper .leftPart .movDisp .moreMenu li {
  margin: 0.25em;
}

.detailWrapper .leftPart .generalInfos {
  padding: 35px;
}

.detailWrapper .leftPart .generalInfos .title {
  margin-bottom: 42px;
}

.detailWrapper .leftPart .generalInfos .title h5 {
  margin-bottom: 20px;
}

.detailWrapper .leftPart .generalInfos .date, .detailWrapper .leftPart .generalInfos .creator {
  margin-bottom: 42px;
  font-size: 14px;
  color: #333333;
}

.detailWrapper .leftPart .generalInfos .date .title, .detailWrapper .leftPart .generalInfos .creator .title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.banner {
  position: relative;
  width: 100%;
}

.banner .mask {
  width: 100%;
  z-index: 500;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.banner img {
  width: 100%;
}

.banner .playBtn {
  position: absolute;
  top: calc( 50% - 50px);
  left: calc( 50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 510;
  border: 2px solid white;
}

.banner .playBtn .material-icons {
  font-size: 96px;
}

.rightPart .rating {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 45px;
  padding: 35px 0px 25px 0px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rightPart .rating .global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rightPart .rating .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rightPart .desc {
  padding: 20px 25px;
}

.rightPart .desc span {
  margin: 10px;
}

.rightPart .similar {
  padding: 20px 25px;
}

.myPlsWrapper, .PlWrapper, .progWrapper {
  padding: 10px;
  background-color: #F9F9F9;
  height: 100%;
}

.myPlsWrapper .card, .progWrapper .card {
  background-color: white;
  border-color: transparent;
  height: 100%;
}

.myPlsWrapper .card .card-header, .progWrapper .card .card-header {
  background-color: white;
  border: none;
}

.myPlsWrapper .card .card-body, .progWrapper .card .card-body {
  overflow-y: scroll;
}

.myPlsWrapper .card .creator, .progWrapper .card .creator {
  font-size: 12px;
}

.PlWrapper {
  border-radius: 0.25rem;
}

.PlWrapper .card.main {
  background-color: white;
  border-color: transparent;
}

.PlWrapper .card.main .card-body {
  overflow-y: scroll;
}

.PlWrapper .card.main .card-header {
  background-color: white;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.PlWrapper .card.main h6 {
  font-weight: 600;
}

.PlWrapper .card.main .fake-taxi {
  width: 100%;
  height: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.PlWrapper .plViewer .PlList {
  background-color: #f9f9f9;
  border-color: transparent;
  height: 300px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.PlWrapper .plViewer .PlList .card-header {
  font-size: 13px;
}

.PlWrapper .plViewer .PlList .card-body {
  overflow-y: scroll;
}

.PlWrapper .generalInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.PlWrapper .generalInfos div {
  margin: 2em;
}

.PlWrapper .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.PlWrapper .PlTitle {
  font-weight: 600;
}

.addWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.addWrapper .add {
  border-color: transparent;
  border-radius: 0.5rem;
  color: #3DB13D;
  background-color: transparent;
}

.addWrapper .add .card-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.addWrapper .add .card-body img {
  height: 48px;
  width: 48px;
}

.card.streamable-desc {
  border-color: transparent;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card.streamable-desc .card-header {
  background-color: #fff;
}

.card.streamable-desc .card-header .title {
  font-weight: 600;
}

.card.streamable-desc .author-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: row;
      -ms-flex: row;
          flex: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  height: auto;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card.streamable-desc .author-section h5 {
  font-weight: 600;
}

.card.streamable-desc .card-body {
  padding: 25px;
}

.card.streamable-desc .card-body span {
  line-height: 2;
  font-size: 14px;
}

.screen {
  border: 2px dashed #d8d8d8;
  background-color: #f8f8f8;
  margin: 0.25rem;
}

.screen .check {
  font-size: 16px;
  position: absolute;
  top: 0;
  right: 8px;
  display: none;
}

.screen.active {
  border: 1px solid #3DB13D;
  color: #3DB13D;
}

.screen.active .check {
  display: inline;
}

.screen.active .card-body {
  color: #3DB13D;
}

.screen .card-body {
  text-align: center;
  color: #848484;
  font-weight: 500;
  font-size: 13px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.screen .card-body img {
  height: 48px;
  margin-bottom: 1.5rem;
}

.vod {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 5px;
}

.vod .title {
  font-weight: 500;
  margin-left: 2em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vod .menu {
  position: absolute;
  margin: 0.5em;
  padding: 10px;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  border-radius: 5px;
  font-size: 12px;
  top: 70%;
  right: 0;
  width: 50%;
  z-index: 10;
}

.vod a {
  color: #555555;
}

.vod.current {
  background-color: #f7f7f7;
}

.vod.current a, .vod.current .title {
  color: #3DB13D;
}

.current-plan-account ul {
  list-style: square;
  margin: 0px 0px 30px 0px;
  padding: 0px;
  font-size: 13px;
  color: #848484;
}

.current-plan-billing {
  color: #999999;
  font-weight: 400;
  font-size: 13px;
  font-style: italic;
  margin-bottom: 10px;
}

.btn {
  font-weight: 400;
  padding: 12px 20px;
  font-size: 13px;
  border: 1px solid #e7e7e7;
  background: #f9f9f9;
  color: #666666;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#modal {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#modal.active {
  display: inline;
  background-color: #00000075;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#modal #modal-container {
  width: 100%;
  height: 100%;
}

#modal #modal-container .card .card-header {
  border: none;
  background-color: white;
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
}

.badge.view-more-url {
  font-weight: 400;
  background-color: #222 !important;
  border: 1px solid #333;
  text-transform: uppercase;
}

.widget-title-wrapper {
  border-bottom: 1px solid #e9ecef;
  margin-bottom: 1.5rem;
  z-index: 2;
}

.widget-title-wrapper a {
  margin-bottom: 1rem;
}

.widget-title-wrapper .widget-title {
  letter-spacing: 1px;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-family: poppins,sans-serif;
  color: #666;
}

.widget-title-wrapper .widget-title::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 50px;
  left: 0;
  bottom: -1rem;
  background: #3DB13D;
}

.meta {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.meta .material-icons-outlined {
  font-size: 16px;
}

.thumbnail-infos .name {
  color: #555555;
  font-weight: 600;
}

.thumbnail-infos .author, .thumbnail-infos .views, .thumbnail-infos .date {
  color: #aaa;
  font-weight: 400;
  font-size: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.thumbnail-infos .author .material-icons-outlined, .thumbnail-infos .views .material-icons-outlined, .thumbnail-infos .date .material-icons-outlined {
  font-size: 16px;
}

.thumbnail-infos .meta .views, .thumbnail-infos .meta .author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumbnail {
  width: auto;
  height: 100%;
  position: relative;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  overflow: hidden;
}

.thumbnail.mini {
  border-radius: 0.25rem;
  height: auto;
  -webkit-box-shadow: 0 1px 3px RGBA(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px RGBA(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  margin: 0.25em;
}

.thumbnail .video-hover {
  width: 100%;
  height: 100%;
  z-index: 50;
  background-color: RGBA(0, 0, 0, 0.75);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumbnail .video-hover span {
  font-size: 96px;
  color: #fff;
}

.thumbnail:hover img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

.thumbnail:hover .video-hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.thumbnail .video-length {
  position: absolute;
  right: 10px;
  top: 10px;
  left: auto;
  display: inline-block;
  font-size: 13px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  width: auto;
  height: auto;
  -webkit-transition: .3s;
  transition: .3s;
  z-index: 51;
}

.thumbnail .bottom {
  color: #f9f9f9;
  position: absolute;
  bottom: 1.5rem;
  left: 1.5rem;
  max-width: 90%;
  z-index: 51;
}

.thumbnail .bottom .category {
  background: #111;
  border: 1px solid #333;
  color: #fff;
  padding: 0.2rem 0.5rem;
  font-weight: 600;
  text-transform: uppercase;
  font-size: .75rem;
  max-width: 50%;
}

.thumbnail .bottom .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.thumbnail .bottom .meta .author, .thumbnail .bottom .meta .views, .thumbnail .bottom .meta .note {
  font-size: .25rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.thumbnail .bottom .meta .author span, .thumbnail .bottom .meta .views span, .thumbnail .bottom .meta .note span {
  font-size: 12px;
  font-weight: 300;
}

.login-page-footer {
  position: absolute;
  bottom: 0;
  height: 45px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
}

sup {
  top: -30px;
  font-size: 17px;
  font-weight: 400;
}

.forfait {
  color: #3DB13D;
  font-weight: 700;
  font-size: 50px;
}

.settings {
  padding: 25px;
}

.guineguine-text {
  font-size: 13px;
}

.gringalet-text {
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: gray;
}

:-ms-input-placeholder {
  color: gray;
}

::-ms-input-placeholder {
  color: gray;
}

::placeholder {
  color: gray;
}

.categoryPill {
  line-height: 1;
  margin: 0px 7px 5px 0px;
  padding: 7px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  border: 2px solid #9d9d9d;
  color: #9d9d9d;
}

.login-card {
  border-color: transparent;
}

.loginInput {
  border: 1px dashed #e9e9e9;
  border-radius: 0.5rem;
  background-color: #f9f9f9;
  color: #848484;
  outline: none;
  height: 40px;
}

.loginInput::-webkit-input-placeholder {
  color: #848484;
}

.loginInput:-ms-input-placeholder {
  color: #848484;
}

.loginInput::-ms-input-placeholder {
  color: #848484;
}

.loginInput::placeholder {
  color: #848484;
}

.bg-unpeusombre {
  background-color: #f5f5f5;
}

.text-main {
  color: #3DB13D;
}

.text-unactive {
  color: #848484;
}

.text-black {
  color: #00000080;
}

.disabled {
  background-color: #d5d5d5;
}

::-webkit-scrollbar {
  width: 5px;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #848484;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #848484;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}

.dd-button {
  display: inline-block;
  border-radius: 4px;
  padding: 10px;
  background-color: #ffffff;
  cursor: pointer;
  white-space: nowrap;
}

.dd-input {
  display: none;
}

.dd-menu {
  position: absolute;
  top: 100%;
  left: -150px;
  border-radius: 4px;
  padding: 0;
  margin: 30px 0 0 0;
  -webkit-box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  list-style-type: none;
}

.dd-input + .dd-menu {
  display: none;
}

.dd-input:checked + .dd-menu {
  display: block;
}

.dd-menu li {
  padding: 10px 20px;
  cursor: pointer;
  white-space: nowrap;
}

.dd-menu li a {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dd-menu li:hover {
  background-color: #f6f6f6;
}

.dd-menu li.divider {
  padding: 0;
  border-bottom: 1px solid #cccccc;
}

.nav-tabs {
  border-bottom: none;
}

.nav-tabs .nav-link {
  color: #c5c5c5;
  outline: none;
  border-bottom: 3px solid;
  border-bottom-color: white;
  -webkit-transition: none;
  transition: none;
  border-top: none;
  border-left: none;
  border-right: none;
}

.tab-content {
  padding: 25px;
}

.nav-tabs .nav-link.active {
  color: #555555;
  border-bottom-color: #3DB13D;
}

.nav-tabs .nav-link:hover {
  color: #555555;
}

hr {
  border-color: rgba(0, 0, 0, 0.09);
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
}

.animate__animated {
  --animate-duration: 0.3s;
}

.pl-el {
  width: 200px;
  height: 200px;
  display: inline-block;
}

.pl-el img {
  width: 100%;
  height: 100%;
}

.monFuturPlace {
  border: 2px dashed #e5e5e5;
  border-radius: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
  font-size: 13px;
}

.dropdown .dropbtn {
  background-color: transparent;
  color: black;
  padding: 13px;
  font-size: 16px;
  width: auto;
  height: 45px;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  font-size: 14px;
}

.dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  z-index: 1;
}

.dropdown .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*# sourceMappingURL=main.css.map */