* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Poppins';
  font-size: 15px;
}

a {
  text-decoration: none;
}

a:hover {
  color: #3DB13D;
}

a:active {
  color: #3DB13D;
}

input, textarea, select {
  line-height: 1.8;
  font-size: 15px;
}

input::-moz-selection, textarea::-moz-selection, select::-moz-selection {
  color: white;
  background-color: #3DB13D;
}

input::selection, textarea::selection, select::selection {
  color: white;
  background-color: #3DB13D;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  height: 90px;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  border-bottom: 1px solid #e8e8e8;
}

@media screen and (min-width: 769px) {
  header {
    width: calc( 100% - 150px);
    left: 150px;
  }
}

.row {
  --bs-gutter-x: 0;
}

#sidebar {
  width: 150px;
  height: 100%;
  -webkit-box-shadow: 0 0 12px RGB(0 0 0/8%);
          box-shadow: 0 0 12px RGB(0 0 0/8%);
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (min-width: 769px) {
  #sidebar {
    display: block;
  }
}

#sidebar nav a {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e8e8e8;
}

#sidebar nav ul {
  width: 100%;
}

#sidebar nav ul li {
  width: 100%;
  height: 90px;
}

#sidebar nav ul li.current a {
  color: #3DB13D;
  background-color: #f9f9f9;
  font-weight: 500;
}

#sidebar nav ul li a {
  width: 100%;
  color: #848484;
}

#sidebar nav ul li a span {
  display: block;
  margin: 0.5em;
}

.mobileLogo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #848484;
}

@media screen and (min-width: 769px) {
  .mobileLogo {
    display: none;
  }
}

.searchbarWrapper {
  color: #848484;
  display: none;
}

@media screen and (min-width: 769px) {
  .searchbarWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.searchbarWrapper input {
  width: 250px;
  border: transparent;
  outline: none;
  color: #848484;
}

.actionWrapper {
  color: #848484;
  display: none;
}

@media screen and (min-width: 769px) {
  .actionWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.actionWrapper a {
  color: #848484;
}

.userWrapper img {
  max-height: 32px;
}

.menuBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #848484;
}

@media screen and (min-width: 769px) {
  .menuBtn {
    display: none;
  }
}

main {
  position: absolute;
  top: 90px;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 320px) {
  main {
    overflow-y: scroll;
  }
}

@media screen and (min-width: 769px) {
  main {
    top: 90px;
    left: 150px;
    width: calc( 100% - 150px);
    height: calc( 100% - 90px);
  }
}

.categoryWrapper, .actWrapper {
  width: 100%;
  border-bottom: 1px solid #e8e8e8;
  margin: 0;
}

.tamerBtn {
  background-color: #3DB13D;
  color: white;
  font-size: 12px;
  font-weight: 500;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
  height: 45px;
  border: none;
  border-radius: 10px;
}

.catalogWrapper {
  padding: 10px 50px;
  --bs-gutter-x: 0;
}

.category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  margin: 1em;
  border-radius: 5px;
}

.category.current div {
  border: 2px solid #3DB13D;
  background-color: #f9f9f9;
}

.category img {
  display: block;
  max-height: 48px;
  margin: 0.25em;
}

.category span {
  font-size: 13px;
  color: #848484;
}

.streamable-card {
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 8px RGB(0 0 0/6%);
          box-shadow: 0px 3px 8px RGB(0 0 0/6%);
  margin-bottom: 30px;
}

.streamable-card img {
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.streamable-card .streamable-desc {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 0px 20px;
}

.streamable-card .streamable-desc h6 {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2rem;
  float: left;
  width: calc(100% - 50px);
  color: #333333;
  font-family: 'Montserrat', sans-serif;
}

.detailWrapper {
  --bs-gutter-x: 0;
  height: 100%;
}

.detailWrapper .leftPart {
  background-color: #fafafa;
  -webkit-box-shadow: 0 0 12px RGB(0 0 0/8%);
          box-shadow: 0 0 12px RGB(0 0 0/8%);
}

.detailWrapper .leftPart .movDisp {
  position: relative;
}

.detailWrapper .leftPart .movDisp .moreWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
}

.detailWrapper .leftPart .movDisp .moreBtn {
  position: absolute;
  margin: 1em;
  right: 0;
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.detailWrapper .leftPart .movDisp .moreMenu {
  margin: 0.5em;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  font-size: 12px;
  width: 50%;
}

.detailWrapper .leftPart .movDisp .moreMenu li {
  margin: 0.25em;
}

.detailWrapper .leftPart .generalInfos {
  padding: 35px;
}

.detailWrapper .leftPart .generalInfos .title {
  margin-bottom: 42px;
}

.detailWrapper .leftPart .generalInfos .title h5 {
  margin-bottom: 20px;
}

.detailWrapper .leftPart .generalInfos .date, .detailWrapper .leftPart .generalInfos .creator {
  margin-bottom: 42px;
  font-size: 14px;
  color: #333333;
}

.detailWrapper .leftPart .generalInfos .date .title, .detailWrapper .leftPart .generalInfos .creator .title {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.detailWrapper .rightPart .banner {
  position: relative;
  width: 100%;
}

.detailWrapper .rightPart .banner .mask {
  width: 100%;
  height: 500px;
  z-index: 500;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
}

.detailWrapper .rightPart .banner img {
  width: 100%;
  height: 500px;
}

.detailWrapper .rightPart .banner .playBtn {
  position: absolute;
  top: calc( 50% - 50px);
  left: calc( 50% - 50px);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  z-index: 510;
  border: 2px solid white;
}

.detailWrapper .rightPart .banner .playBtn .material-icons {
  font-size: 96px;
}

.detailWrapper .rightPart .rating {
  border-bottom: 1px solid #e4e4e4;
  margin-bottom: 45px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.detailWrapper .rightPart .rating .global {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.detailWrapper .rightPart .rating .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.detailWrapper .rightPart .desc {
  padding: 20px 25px;
}

.detailWrapper .rightPart .desc span {
  margin: 10px;
}

.detailWrapper .rightPart .similar {
  padding: 20px 25px;
}

.myPlsWrapper, .PlWrapper {
  padding: 10px;
  background-color: #F9F9F9;
  height: 100%;
}

.myPlsWrapper .card {
  background-color: white;
  border-color: transparent;
}

.myPlsWrapper .card .creator {
  font-size: 12px;
}

.PlWrapper {
  overflow-x: scroll;
}

.PlWrapper .generalInfos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.PlWrapper .generalInfos div {
  margin: 2em;
}

.PlWrapper .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.vod {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.5em;
  border-radius: 5px;
}

.vod .title {
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.vod a {
  color: #555555;
}

.vod.current {
  background-color: #f7f7f7;
}

.vod.current a, .vod.current .title {
  color: #3DB13D;
}

.categoryPill {
  line-height: 1;
  margin: 0px 7px 5px 0px;
  padding: 7px;
  border-radius: 5px;
  font-size: 11px;
  font-weight: 700;
  border: 2px solid #9d9d9d;
  color: #9d9d9d;
}

.text-main {
  color: #3DB13D;
}

.text-unactive {
  color: #848484;
}

.text-black {
  color: #00000080;
}

.disabled {
  background-color: #d5d5d5;
}
/*# sourceMappingURL=main.css.map */